{{define "content"}}
<div class="page-body">
  <div class="container">
    <div class="receipt">
      <img class="mascot" src="{{asset "img/mascot-paper.webp"}}" alt="" width="200" height="200">
      <h2>We could not find that page</h2>
      <p>The link may be outdated, or the page may have moved. Try one of these instead:</p>
      <div class="btn-row justify-center">
        <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-outline" href="/call-for-papers">Call for Papers</a>
        <a class="btn btn-outline" href="/important-dates">Important Dates</a>
        <a class="btn btn-outline" href="/sitemap">Site map</a>
      </div>
    </div>
  </div>
</div>
{{end}}
